body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #242424;
    color: white;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    color: yellow;
}

#game-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
